.SignUp {
    background-color: rgb(255, 255, 255);
    width : 350px;
    height : 578px;
    position:absolute;
    left:50%;
    top:30%;
    margin-top:-194px;
    margin-left:-175px;
    border : 1px solid #dbdbdb;
    text-align: center;

    .logo_img{
        margin-top:28px;
        margin-bottom: 22px;
    }
    .text-type{
        width:260px;
        font-size:15px;
        font-weight:600;
        font-family:Arial, Helvetica, sans-serif;
        color:rgb(128, 127, 127);
        margin:0 auto;
    }

    .btn-facebook-login{
        width:260px;
        height: 33px;
        color:rgb(255, 255, 255);
        font-size: 14px;
        font-family: Arial, Helvetica, sans-serif;
        background-color: rgb(9, 165, 255);
        border-radius: 5px;
        margin-bottom:15px;
        margin-top:20px;
        border:none;
        letter-spacing: 1px;
    }
    .mid{
        display:flex;
        margin-left:53px;
        .or{
            font-size: 14px;
            color: rgb(160, 160, 160);
        }
    
        .mid-line-01{
            width:100px;
            height: 1px;
            background-color: rgb(206, 203, 203);
            margin-top:7px;
            margin-right:10px;
        }
        .mid-line-02{
            width:100px;
            height: 1px;
            background-color: rgb(206, 203, 203);
            margin-top:7px;
            margin-left:10px;
        }
    }
    


    .input_wrap{
        width:300px;
        margin:10px auto;
        margin-bottom:10px;
        margin-top:10px;
        .input-text-num{
            margin-top: 10px;
        }
        .input-text-name{
            padding-top:10px;
        }
        .input-text-nick{
            padding-top:10px;
        }
        .input-text-pw{
            padding-top:10px;
        }

        input {
            width:260px;
            height: 35px;
            background-color: rgb(248, 248, 248);
            font-size: 13px;
            margin: 0 10px 5px 10px;
            padding:7px 12px;
            border-radius: 5px;
            border: 1px solid #dbdbdb;
        }
        
    }
    .btn-signup{
        width:260px;
        height: 33px;
        color:rgb(255, 255, 255);
        font-size: 14px;
        font-family: sans-serif;
        background-color: rgb(176, 220, 255);
        border-radius: 5px;
        border:none;
        letter-spacing: 1px;
    }

    .btn-signup-color-change{
        width:260px;
        height: 33px;
        color:rgb(255, 255, 255);
        font-size: 14px;
        font-family: sans-serif;
        background-color: rgb(86, 179, 255);
        border-radius: 5px;
        margin-bottom:50px;
        border:none;
        letter-spacing: 1px;
    }

    .addText{
        width:260px;
        font-size:12px;
        margin:0 auto;
        margin-top:22px;
        color:rgb(156, 156, 156);
        font-family: Arial, Helvetica, sans-serif;
    
    }
}


